### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [31]:
total_players = purchase_data["SN"].nunique()

players_count = pd.DataFrame({"Total Players": [total_players]})

players_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [32]:
number_of_purchases = purchase_data["Purchase ID"].count()
unique_items = len(purchase_data["Item ID"].unique())
average_price = purchase_data["Price"].mean()
total_revenue = purchase_data["Price"].sum() 

purchase_analysis = pd.DataFrame({"Number of Unique Items": [unique_items],
                                   "Average Price": [average_price],
                                   "Number of Purchases": [number_of_purchases],
                                   "Total Revenue": [total_revenue]})

purchase_analysis.style.format({"Average Price": "${:,.2f}",
                                "Total Revenue": "${:,.2f}"})

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     183         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [33]:
gender_count = purchase_data.groupby("Gender")

total_gender_count = gender_count.nunique()["SN"]

players_percentage = (total_gender_count/total_players) * 100

gender_demographics = pd.DataFrame({"Total Count": total_gender_count,"Percentage of Players": players_percentage})
gender_demographics.index.name = None
gender_demographics.style.format({"Percentage of Players":"{:,.2f}"})

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [34]:
purchase_count = gender_count["Purchase ID"].count()

average_purchase_price = gender_count["Price"].mean()

total_value = gender_count["Price"].sum()

average_total_purchase = total_value/total_gender_count

purchase_gender_analysis = pd.DataFrame({"Purchase Count": purchase_count,
                         "Average Purchase Price": average_purchase_price,
                         "Total Purchase Value": total_value,
                         "Avg Total Purchase per Person": average_total_purchase})

purchase_gender_analysis.index.name = "Gender"

purchase_gender_analysis.style.format({"Average Purchase Price": "${:,.2f}",
                                       "Total Purchase Value": "${:,.2f}",
                                       "Avg Total Purchase per Person": "${:,.2f}"})

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [35]:
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]

group_name = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_name)

age_group = purchase_data.groupby("Age Group")

total_age_count = age_group.nunique()["SN"]

total_age_count

age_percentage = (total_age_count/total_players) * 100

age_demographics = pd.DataFrame({"Total Count": total_age_count,"Percentage of Players": age_percentage})

age_demographics.index.name = None

age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [37]:
purchase_age_count = age_group["Purchase ID"].count()

avg_purchase_price = age_group["Price"].mean()

total_purchase_val = age_group["Price"].sum()

avg_purchase_total_per_person = total_purchase_val/total_age_count

purchasing_age_analysis = pd.DataFrame({"Purchase Count": purchase_age_count,
                                        "Average Purchase Price": avg_purchase_price, 
                                        "Total Purchase Value": total_purchase_val,
                                        "Avg Total Purchase per Person": avg_purchase_total_per_person})
purchasing_age_analysis.index.name = None

purchasing_age_analysis.sort_values(by='Purchase Count', ascending=False)

purchasing_age_analysis.style.format({"Average Purchase Price": "${:,.2f}",
                                       "Total Purchase Value": "${:,.2f}",
                                       "Avg Total Purchase per Person": "${:,.2f}"})

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [38]:
top_spenders = purchase_data.groupby("SN")

spenders_purchase_count = top_spenders["Purchase ID"].count()

spenders_avg_price = top_spenders["Price"].mean()

spenders_total_value = top_spenders["Price"].sum()

top_spenders_analysis = pd.DataFrame({"Purchase Count": spenders_purchase_count,
                                      "Average Purchase Price": spenders_avg_price,
                                      "Total Purchase Value": spenders_total_value})

data_format = top_spenders_analysis.sort_values(["Total Purchase Value"], ascending=False).head()


data_format.style.format({"Average Purchase Price": "${:,.2f}",
                                       "Total Purchase Value": "${:,.2f}"})

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [39]:
popular_items = purchase_data.groupby(["Item ID", "Item Name"])

item_purchase_count = popular_items["Price"].count()

item_total_value = popular_items["Price"].sum()

item_price = item_total_value/item_purchase_count


most_popular_items = pd.DataFrame({"Purchase Count": item_purchase_count,
                                   "Item Price": item_price,
                                   "Total Purchase Value": item_total_value})

items_data = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

items_data.style.format({"Item Price": "${:,.2f}","Total Purchase Value": "${:,.2f}"})

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [41]:
items_data = most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()

items_data.style.format({"Item Price": "${:,.2f}","Total Purchase Value": "${:,.2f}"})